.label1{
  margin-top: 10px;
  
}

label{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  
}

form{
 margin: 10px;
 padding: 20px;
}

input{
  margin-left: 15px;
}

.btn{
  margin: 10px;
  padding: 10px;
  background-color: black;
color: bisque;
font-weight: bold;}